
@{
    bool CheckStatus(string Status)
    {
        if (Status == "Pending") return true;
        else return false;
    }
}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Venue</th>
            <th>Event Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Seats</th>
            <th>Available Seats</th>
            <th>Ticket Price</th>
            <th>Status</th>
            <th>Organised By</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Venue</td>
                <td>@item.EventDate</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.TotalSeats</td>
                <td>@item.AvailableSeats</td>
                <td>@item.TicketPrice</td>
                <td>@item.Status</td>
                <td>@item.Organizer.FullName</td>

                @if (CheckStatus(item.Status))
                {
                    <form method="post">
                        <input type="hidden" name="EventId" value="@item.EventId" />
                        @* <input type="hidden" name="Organizer" value="@item.Organizer" /> *@
                        <td>
                            <input type="submit" name="Decision" value="Approved" class="btn btn-primary" />
                        </td>
                        <td>
                            <input type="submit" name="Decision" value="Rejected" class="btn btn-danger" />
                        </td>
                        
                    </form>
                }

            </tr>
        }
    </tbody>
</table>

