
@{
    ViewData["Title"] = "AttendeeDashboard";
}

@{
    Layout = "_AttendeeLayout";
}

<form method="get" class="mb-3">

    <div class="input-group mb-2">
        <input type="text" name="Title" class="form-control" placeholder="Search events by title" />

        <button type="submit" class="btn btn-primary me-2">
            Search
        </button>

        <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilters">
            Advanced
        </button>
        <a href="/Attendee/AttendeeDashboard" class="btn btn-secondary btn-sm"> Reset </a>

    </div>


    <div class="collapse" id="advancedFilters">
        <div class="card card-body">

            <div class="row g-2">

                <div class="col-md-4">
                    <label class="form-label">Category</label>
                    <select name="CategoryId" class="form-control">
                        <option value="">All Categories</option>
                        @foreach (var item in ViewBag.Types)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select>
                </div>

            </div>

        </div>
    </div>

</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Venue</th>
            <th>Event Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Available Seats</th>
            <th>Ticket Price</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Venue</td>
                <td>@item.EventDate</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.AvailableSeats</td>
                <td>@item.TicketPrice</td>

                <td>
                    <a class="btn btn-success btn-sm" href="/Attendee/BuyTicket/@item.EventId">Buy</a>
                </td>
            </tr>
        }
    </tbody>
</table>

